.heading {
    display: flex;
    justify-content: center;
    margin: 30px;
    color: grey;
}

.review-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    margin-left: 100px;
}