.container {
    display: flex;
}

.bar {
    margin: 100px;
}

.info {
    width: 50%;
}

.container img {
    width: 150%;
    padding-left: 100px;
}

.review {
    display: flex;
    justify-content: center;
}

.btn {
    display: flex;
    align-items: center;
}

.laptop-name {
    color: grey;
}