.graph {
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.header {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.title {
    display: flex;
    align-items: center;
    padding-right: 100px;
    color: grey;
}